@import url("https://fonts.google.com/specimen/Outfit");

:root {
	--main-bg-color: hsl(212, 45%, 89%);
	--secondary-bg-color: hsl(0, 0%, 100%);
	--heading-color: hsl(218, 44%, 22%);
	--text-color: hsl(216, 15%, 48%);
}

* {
	font-family: "Outfit", sans-serif;
}
body {
	background-color: var(--main-bg-color);
}

p {
	font-size: 0.9375rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 98vh;
	margin: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-bg-color);
	width: min-content;
	height: min-content;
	max-width: max(0.22em, 320px);
	max-height: max(0.5197916em, 499px);
	padding: 16px 16px 40px 16px;
	margin: auto;
	border-radius: 20px;
	gap: 24px;
	box-shadow: 0px 2px 20px -10px var(--text-color);
}

img {
	width: max(288px, 0.9em);
	height: max(288px, 0.577em);
	margin: auto;
	border-radius: 10px;
}

.text {
	display: flex;
	flex-direction: column;
	font-family: "Outfit", sans-serif;
	text-align: center;
	width: fit-content;
	max-width: max(0.22em, 288px);
	height: min-content;
	max-height: max(0.2625em, 131px);
	margin: auto;
	gap: 16px;
}

.text h1 {
	color: var(--heading-color);
	font-size: 1.375rem;
	width: fit-content;
	max-width: max(256px, 0.88em);
	height: min-content;
	max-height: max(0.3969em, 52px);
	margin: auto;
}

.text p {
	color: var(--text-color);
	font-size: 0.9375rem;
	width: fit-content;
	max-width: max(256px, 0.88em);
	height: min-content;
	max-height: max(0.4809em, 63px);
	margin: auto;
	padding: 0px;
}

.attribution {
	font-size: 0.6875rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
